.application-form {
    border-radius: 20px;
    background-color: rgba(155, 155, 155,0.5);
    padding: 10px;
}

.application-form h2 {
    margin-left: 15px;
    margin-right: 15px;
}

.one-program {
     margin: 5px 5px;
    padding: 10px;
    background-color: transparent;
    border-radius: 10px;
    transition: background-color 0.5s;
    overflow: hidden;
 }

.one-program .program-content {
    width: 75%;
    float: left;
}

.one-program .program-selector {
    width: 25%;
    float: left;
}

.one-program .program-selector a.select-program {
    width: 90%;
    margin: 10px auto;
    height: 50px;
    display: block;
    background-color: cornflowerblue;
    color: white;
    line-height: 50px;
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
}

.one-program.selected .program-selector a.select-program {
    background-color: limegreen;
}

.one-program .program-selector a.select-program:hover {
    text-decoration: none;
}

.one-program:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

.one-program.selected {
    background-color: rgba(255, 255, 255, 0.75);
}

.one-program div.name {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
}

.one-program .program-selector a.select-program:before {
    font-family: FontAwesome;
    content: "\f096";
    margin-right: 10px;
}

.one-program.selected .program-selector a.select-program:before {
    font-family: FontAwesome;
    content: "\f046";
    margin-right: 10px;
}

.one-program div.description {
    font-family: 'Roboto thin', sans-serif;
    font-weight: 200;
}

a.application-step-button {
    margin: 10px auto;
    height: 50px;
    display: block;
    background-color: grey;
    color: white;
    line-height: 50px;
    text-align: center;
    border-radius: 10px;
    text-decoration: none;
    transition: background-color 0.25s;
    font-weight: 400;
}

a.application-step-button:after {
    font-family: FontAwesome;
    content: "\f061";
    margin-left: 10px;
}

a.application-step-button.active {
    background-color: limegreen;
}

a.application-step-button.active:hover {
    background-color: darkgreen;
}

a.application-step-button.active:hover {
    background-color: darkgreen;
}

div.step-error-message {
    max-height: 100px;
    transition: max-height 1s;
    overflow: hidden;
    text-align: center;
    color: red;
}

div.step-error-message:before {
    font-family: FontAwesome;
    content: "\f071";
    margin-right: 10px;
    color: red;
}

div.step-error-message.hidden {
    max-height: 0;
}

div.application-step {
    display: none;
}

div.application-step.active {
    display: block;
}

div.application-step label.label-merit-score {
display: block;
    text-align: center;
}

div.application-step div.merit-score-wrapper {
    text-align: center;
    background-color: transparent;
    border-radius: 10px;
    width: 200px;
    margin: 0 auto;
    padding: 10px;
    transition: background-color 0.25s;
}

div.application-step div.merit-score-wrapper.active {
    background-color: rgba(255, 255, 255, 0.75);
}

div.application-step input#input-merit-score {
    height: 45px;
    width: 150px;
    font-size: 40px;
    text-align: center;
}

a.application-back-button {
    margin: 10px auto;
    height: 50px;
    display: block;
    color: black;
    line-height: 50px;
    text-align: left;
    border-radius: 10px;
    text-decoration: none;
    font-weight: 400;
}

a.application-back-button:hover {
    text-decoration: underline;
}

a.application-back-button:before {
    font-family: FontAwesome;
    content: "\f100";
    margin-right: 5px;
    display: inline-block;
}

div.application-sidebar.column .column-content {
    border-radius: 20px;
    background-color: dodgerblue;
    color: white;
    padding: 10px;
}

div.application-sidebar.column .column-content .subheading {
    font-size: 0.6em;
    font-weight: 800;
    font-family: 'Roboto bold', sans-serif;
    text-transform: uppercase;
}

div.application-sidebar.column .column-content ul.selections-summary{
    margin-bottom: 10px;
    margin-top: 0;
    list-style: none;
    padding: 0;
}

div.application-sidebar.column .column-content ul.selections-summary li{
    font-size: 0.8em;
    font-weight: 200;
    font-family: 'Roboto thin', sans-serif;
    line-height: 1.5em;
    margin-bottom: 5px;
}

div.application-sidebar.column .column-content ul.selections-summary li.value:before{
    font-family: FontAwesome;
    content: "\f105";
    margin-right: 5px;
    display: inline-block;
}


div#application-result div.result-overview {
    overflow: hidden;
    vertical-align: middle;
    overflow: hidden;
}

div#application-result div.result-text-wrapper {
    width: 60%;
    background-color: lemonchiffon;
    border-radius: 10px;
    padding: 10px 20px;
}

h3#first-choice {
    font-weight: 400;
}


div.result {
    background-color: #f5f5f5;
    border-radius: 20px;
    padding: 10px;
}
div#application-result div.result-text {
    width: 100%;
    position: relative;
    font-weight: 400;
    font-family: 'Roboto thin', sans-serif;
}

div#application-result div.overview-message-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 10px 0;
    align-items: center;
}

div#application-result div.celebratory-icon{
    text-align: center;
    line-height: 100px;
    width:20%;
    float: left;
}
div#application-result div.celebratory-icon:before {
    font-family: FontAwesome;
    margin-right: 5px;
    display: inline-block;
    font-size:100px;
    text-shadow: 1px 1px 1px #000;
}

div#application-result div.celebratory-icon.other {
    display: none;
}

div#application-result div.celebratory-icon.awesome:before {
    content: "\f164";
    color: limegreen;
}

div#application-result div.celebratory-icon.good:before {
    content: "\f05d";
    color: darkseagreen;
}

div#application-result div.celebratory-icon.ok:before {
    content: "\f24e";
    color: yellow;
}

div.result-stats {
    width: 100%;
    display: flex;
    justify-content: center;
}

div.result-table-wrapper {
    position: relative;
    width: 75%;
    margin-top: 10px;
}

div.result-table-wrapper .max-score {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 0.5em;
    color: lightgray;
}

div.result-table-wrapper .min-score {
    position: absolute;
    bottom: 0;
    font-size: 0.5em;
    color: transparent;
}

div#application-result div.result-stats table {
    width: 75%;
    margin-left: 25%;
    background-color: #f5f5f5;
    table-layout: fixed;
    border-spacing: 0;
    vertical-align: bottom;
    border-top: 1px solid lightgray;

}

div#application-result div.result-stats table tr {
    width: 100%;
    background-color: #f5f5f5;
    table-layout: fixed;
    border-spacing: 0;
    height: 300px;
    vertical-align: bottom;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

div#application-result div.result-stats table td{
    width: 50%;
    vertical-align: bottom;
    background-color: red;
    text-align: center;
    color: white;
    font-size: 1.5em;
    font-family: 'Roboto bold', sans-serif;
    padding: 0;
}

div#application-result div.result-stats div.line.your-points {
    position: absolute;
    border-top: 2px solid dodgerblue;
    width: 100%;

}

div#application-result div.result-stats div.line.your-points .caption{
    position: absolute;
    top: -25px;
}

div#application-result div.result-stats table td.your-points{
    background-color: cornflowerblue;
}

div#application-result div.result-stats table td.minimum-points{
    background-color: lightgreen;
}

div#application-result div.result-stats table td.median-points{
    background-color: orange;
}

div#application-result div.result-stats table td span.points-caption {
    display: block;
    font-size: 0.5em;
    font-family: 'Roboto thin', sans-serif;
    font-weight: 200;
}

div#application-result div.result-stats table tr:last-of-type {
    width: 100%;
    table-layout: fixed;
    background-color: transparent;
    border-spacing: 0;
    height: auto;
    vertical-align: bottom;
    display: flex;
    justify-content: space-between;
}

div#application-result div.result-stats table tr:last-of-type td{
    width: 50%;
    vertical-align: bottom;
    color: black;
    text-align: center;
    font-size: 12px;
    font-family: 'Roboto thin', sans-serif;
    padding: 0;
    background-color: transparent;
}

div#application-result div.result-stats table tr:last-of-type td span.points {
    display: block;
    font-size: 2em;
}

div.secondary-result {
    width: 100%;
    margin-top: 10px;
}

div.secondary-result div.one-secondary-result {
    border-radius: 10px;
    width: 100%;
    background-color: #f5f5f5;
    margin-bottom: 5px;
}

div.secondary-result div.one-secondary-result div.secondary-result-content-wrapper {
    padding: 10px;
}

div.one-secondary-result h3 {
    font-weight: 600;
    font-size: 14px;
}

div.one-secondary-result span.your-score {
    font-weight: 600;
    color: dodgerblue;
}

div.one-secondary-result span.minimum-score {
    font-weight: 600;
    color: green;
}

div.one-secondary-result span.median-score {
    font-weight: 600;
    color: orange;
}

#calculation-loading-wrapper {
    width: 100%;
    display: flex;
    height: 400px;
    align-content: center;
    justify-content: center;
    flex-direction: column;
}

#calculation-loading {
    display: block;
    width: 75px;
    height: 75px;
    background-color: blue;
    margin: 0 auto;
    animation: fa-spin 1s infinite steps(8);
}

#calculation-loading:before {
    font-family: FontAwesome;
    content: "\f1ce";
    font-size: 75px;
    line-height: 75px;
}


@media (max-width: 800px) {
    .one-program .program-content {
        width: 100%;
    }

    .one-program {
        background-color: rgba(255, 255, 255, 0.25);
    }

    .one-program .program-selector {
        width: 100%;
    }





}

@media (max-width: 550px) {
    div#application-result div.overview-message-wrapper
    {
        display: block;
    }

    div#application-result div.result-text-wrapper {
        text-align: center;
        padding: 10px 0;
    }

    div#application-result div.result-text-wrapper {
        width: 100%;
        height: 250%;
    }

    div#application-result div.celebratory-icon {
        width: 100%;
    }
}