* {
    font-family: 'Roboto thin', sans-serif;
    font-weight: 200;

}

h1 {
    font-family: 'Roboto thin', sans-serif;
    font-weight: 200;
}

h2 {
    font-family: 'Roboto thin', sans-serif;
    font-weight: 200;
}

h3 {
    font-family: 'Roboto thin', sans-serif;
    font-weight: 200;
    margin: 0;
    padding: 0;
}

i.fa-arrow-down {
    font-size: 2em;
    margin: 20px;
}

body {
    margin: 0;
}

header {

    width: 100%;
    //height: 70px;
}

header div.header-content {
    max-width: 1000px;
    margin: 0 auto;
}

header nav ul {
    list-style: none;
    display: block;
    text-align: center;
    margin: 25px 0;
    padding: 0;
}
header nav ul li {
    display: inline;
    text-transform: uppercase;
    font-size: 0.8em;
    margin-right: 30px;
}

header nav ul li:last-child {
    margin-right: 0;
}

header nav ul li a {
    text-decoration: none;
    color: black;
}

header nav ul li a.active {
    font-weight: bold;
    font-family: 'Roboto bold', sans-serif;
}

header img {
    float: left;
    width: 125px;
    position: absolute;
    top: 15px;
}
header span {
    display: block;
    float: left;
    font-weight: bold;
    font-family: 'Verdana', sans-serif;
    font-size: 30px;
}

.hero {
    /*background-color: deepskyblue;
    background: #7abcff;
    background: -moz-linear-gradient(top, #7abcff 0%, #60abf8 44%, #4096ee 100%);
    background: -webkit-linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%);
    background: linear-gradient(to bottom, #7abcff 0%,#60abf8 44%,#4096ee 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7abcff', endColorstr='#4096ee',GradientType=0 );
    */
    background-image: url('../images/womanreadingbook.jpg');
    background-size: cover;
    height: 350px;
    margin-bottom: 20px;
    transition: height 0.5s;
}
.hero h1 {
    color: white;
    font-size: 1.5em;
    margin: 0;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-weight: 200;
}

.hero span {
    color: white;
    font-size: 0.8em;
    line-height: 1.6em;
    display: block;
    padding-bottom: 10px;
}

.hero .hero-content {
    top: 50px;
    margin: 0px auto;
    width: 350px;
    position: relative;
}

.hero .hero-content .text-area {
    background: rgba(72, 126, 160,0.5);
    padding: 15px 15px 0 15px;
}

.hero .hero-content .button-area {
    background: rgba(155, 155, 155,0.5);
    overflow: hidden;
    height: 160px;
}

.hero .hero-content .button-area a.button {
    margin: 10px auto;
    width: 90%;
    display: block;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    -webkit-transition: background-color 0.5s; /* Safari */
    transition: background-color 0.5s, transform 0.5s;
}

.hero .hero-content .button-area a.button.button-read-more {
    background-color: cornflowerblue;
    color: white;
}

.hero .hero-content .button-area a.button:after {
    font-family: FontAwesome;
    content: "\f061";
    margin-left: 10px;
}

.hero .hero-content .button-area a.button.button-continue {
    background-color: limegreen;
    color: white;
}

.hero .hero-content .button-area a.button.button-read-more:hover {
    background-color: darkblue;
    color: white;
    transform: scale(1.05);
}

.hero .hero-content .button-area a.button.button-continue:hover {
    background-color: darkgreen;
    color: white;
    transform: scale(1.05);
}

.hero .logo {
    position: absolute;
    display: none;
    top: 10px;
}

.hero.hidden {
    height: 0;
}

.content-container {
    max-width: 1000px;
    margin: 0 auto;
    overflow: hidden;
}

.content-container.page {
    opacity: 0;
    transition: opacity 0.25s;
    display: none;
}
.content-container.page.active {
    opacity: 1;
    display: block;
}

.content-container .column {
    float: left;
}

.content-container .column.two-thirds {
    width: 66%;
}



.content-container .column .column-content {
    margin: 10px;
    line-height: 1.5em;

}

.content-container .column.one-third {
    width: 34%;
    /*background-color: dodgerblue;*/
}

.content-wrapper {
    margin: 10px;
    /*background-color: dodgerblue;*/
}

.content-wrapper .video-wrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
}
.content-wrapper .video-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.link-title {
    display: block;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.external-program-link {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-decoration: underline;
    color: black;
}

.external-link-icon {

    text-decoration: none;
}

.external-link-icon:after {
    font-family: FontAwesome;
    content: "\f08e";
    padding-left: 5px;
    text-decoration: none;
}

.content-wrapper.blue {
    padding: 10px;
    color: white;
    background-color: lightskyblue;
    border-radius: 20px;

}

.content-wrapper.blue p {
    font-family: 'Roboto thin', sans-serif;
    font-weight: 200;
}

.content-container .column.full {
    width: 100%;
    overflow: hidden;
    margin: 25px 0;
    /*background-color: dodgerblue;*/
}

.content-container .column.full .feature {
    width: 33%;
    float: left;
    /*background-color: dodgerblue;*/
}

.content-container .column.full .feature .feature-icon{

    text-align: center;
    color: lightskyblue;
    height: 100px;
    margin-bottom: 10px;
}

.content-container .column.full .feature .feature-icon.question:after {
    font-family: FontAwesome;
    content: "\f29c";
    font-size: 100px;
    line-height: 100px;
}

.content-container .column.full .feature .feature-icon.readmore:after {
    font-family: FontAwesome;
    content: "\f02d";
    font-size: 100px;
    line-height: 100px;
}

.content-container .column.full .feature .feature-icon.application:after {
    font-family: FontAwesome;
    content: "\f003";
    font-size: 100px;
    line-height: 100px;
}

.content-container .column.full .feature .feature-text{
    padding: 10px;
    text-align: center;
}

.content-container .column.full .feature .feature-text h2{
    margin: 0;
    font-family: 'Roboto thin', sans-serif;
    font-weight: 200;
}

.content-container .column.full .feature .feature-text p{
    margin-top: 10px;
    font-family: 'Roboto thin', sans-serif;
    font-weight: 200;
    line-height: 1.5em;
}

.content-container .column.full .feature .feature-icon{
    font-size: 50px;
    text-align: center;
    color: lightskyblue;
}

.content-container .column.one-third * {

}

footer {
    margin-top: 10px;
    padding-top: 10px;
    width: 100%;
    border-top: 1px solid #e5e5e5;
}

footer * {
    font-size: 0.8em;
}
footer .column {

    float: left;
    width: 30%;
    border-right: 1px solid #e5e5e5;
}

footer .column:last-child {
    border-right: none;
}

footer .column .footer-column-content {
    padding: 10px;
}

.startpage-content {
    margin: 25px;
    text-align: center;
    font-size: 1.5em;
}

.startpage-content .fa {
    font-size: 2em;
}

.startpage-content h2 {
    text-align: left;
    font-size: 0.75em;
}

.readmore-head-image {
    width: 100%;
    background-image: url('../images/meeting.jpg');
    background-size: cover;
    height: 250px;
    margin-bottom: 20px;
}
.readmore-program {
    margin-bottom: 2px;
}

.readmore-program h2 {
    background-color: dodgerblue;
    color: white;
    padding: 10px;
    margin: 0;
    cursor: pointer;
}

.readmore-program h2:before {
    font-family: FontAwesome;
    content: "\f0da";
    margin-right: 10px;
}

.readmore-program.active h2:before {
    content: "\f0d7";
}

.readmore-program .readmore-content {
     max-height: 0;
     height: 0;
     overflow: hidden;
     transition: max-height 2s;
     padding: 0 10px;
 }

.readmore-program.active .readmore-content {
    height: auto;
    max-height: 2000px;
}


@media (max-width: 800px) {
    .content-container .column.one-third  {
        width: 100%;
    }
    .content-container .column.two-thirds {
        width: 100%;
    }

    footer .column {
        width: 100%;
        border-right: 0;
    }

    header img {
        display: none;
        float: left;
        width: 125px;
        position: relative;

    }

    .content-container .column.full {
        margin: 10px 0;
    }

    .content-container .column.full .feature {
        width: 100%;
        margin-bottom: 50px;
    }

}